.p-datatable .p-datatable-loading-overlay {
  z-index: 3;
}

.p-datatable .p-paginator-bottom {
  margin-top: auto;
}

.p-datatable .p-paginator-bottom {
  border-top-width: 1px;
  border-bottom-width: 0;
}
/* body
  [data-pc-name='datatable'][pr_id_4]
  > [data-pc-section='wrapper']
  > [data-pc-section='table']
  > [data-pc-section='thead']
  > tr
  > th:nth-child(1),
body
  [data-pc-name='datatable'][pr_id_4]
  > [data-pc-section='wrapper']
  > [data-pc-section='table']
  > [data-pc-section='tbody']
  > tr
  > td:nth-child(1),
body
  [data-pc-name='datatable'][pr_id_4]
  > [data-pc-section='wrapper']
  > [data-pc-section='table']
  > [data-pc-section='tfoot']
  > tr
  > td:nth-child(1) {
  width: 40px !important;
  max-width: 40px !important;
} */
.datatable-card .p-card-content {
  padding: 0px;
}
